body {
  font-family: Museosans, sans-serif;
  color: #1a1b1f;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 44px;
  line-height: 62px;
  font-weight: 400;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
  text-align: center;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
}

a {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #1a1b1f;
  text-decoration: underline;
}

a:hover {
  color: #32343a;
}

a:active {
  color: #43464d;
}

ul {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 40px;
  list-style-type: disc;
}

li {
  margin-bottom: 10px;
}

img {
  display: block;
}

label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

blockquote {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 30px;
  border-left: 5px solid #e2e2e2;
  font-size: 20px;
  line-height: 34px;
}

figure {
  margin-top: 25px;
  padding-bottom: 20px;
}

figcaption {
  margin-top: 5px;
  opacity: 0.6;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.divider {
  height: 1px;
  background-color: #eee;
}

.styleguide-content-wrap {
  text-align: center;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  padding: 140px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section.section-dark {
  display: block;
  padding-bottom: 140px;
  background-color: #000;
  color: #fffdfd;
}

.section.section-dark.copy2 {
  display: block;
}

.section.section-dark.teasers {
  display: none;
}

.section.footer {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #000;
  font-family: Museosans, sans-serif;
}

.section.ocular {
  min-height: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(33%, #fff), color-stop(50%, #fff), color-stop(0, #11437f), color-stop(0, #11437f), color-stop(71%, #11437f));
  background-image: linear-gradient(180deg, #fff 33%, #fff 50%, #11437f 0, #11437f 0, #11437f 71%);
}

.section.previous-sessions {
  display: none;
}

.section.section-orange {
  background-color: #f9b85e;
}

.section.about {
  padding-top: 60px;
  padding-bottom: 40px;
}

.section.about.top {
  padding-top: 140px;
}

.section.videoshome {
  padding-bottom: 100px;
}

.section.agenda-section {
  padding-bottom: 0px;
}

.section.track-section {
  padding-bottom: 40px;
}

.section.next-talk-section {
  display: none;
  padding-bottom: 0px;
}

.styleguide-block {
  display: block;
  margin-top: 80px;
  margin-bottom: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0px auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.container.subscribe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-image: url('../images/Group-3922x.png');
  background-position: 20px 0px;
  background-size: contain;
  background-repeat: no-repeat;
}

.container.footer-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.container.mariatest1 {
  display: block;
  overflow: visible;
}

.container.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.paragraph-tiny {
  font-size: 12px;
  line-height: 20px;
}

.paragraph-bigger {
  margin-bottom: 10px;
  opacity: 1;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.paragraph-bigger.cc-bigger-light {
  opacity: 0.6;
}

.button {
  padding: 12px 25px;
  border-radius: 0px;
  background-color: #1a1b1f;
  -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #32343a;
  color: #fff;
}

.button:active {
  background-color: #43464d;
}

.button.cc-jumbo-button {
  padding: 16px 35px;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-white-button {
  padding: 16px 35px;
  background-color: #fff;
  color: #202020;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-white-button:hover {
  background-color: hsla(0, 0%, 100%, 0.8);
}

.button.cc-white-button:active {
  background-color: hsla(0, 0%, 100%, 0.9);
}

.label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.label.cc-styleguide-label {
  margin-bottom: 25px;
}

.heading-jumbo-tiny {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  text-transform: uppercase;
}

.rich-text {
  width: 70%;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
}

.rich-text p {
  margin-top: 15px;
  margin-bottom: 25px;
  opacity: 0.6;
}

.paragraph-light {
  opacity: 0.6;
}

.heading-jumbo {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 64px;
  line-height: 80px;
  text-transform: none;
}

.heading-jumbo-small {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  text-transform: none;
}

.styleguide-button-wrap {
  margin-top: 10px;
  margin-bottom: 10px;
}

.styleguide-header-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 460px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1a1b1f;
  color: #fff;
  text-align: center;
}

.paragraph-small {
  font-size: 14px;
  line-height: 26px;
}

.logo-link {
  z-index: 1;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.7;
}

.menu {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  display: block;
  overflow: visible;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: transparent;
}

.navigation-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.navigation-wrap.container {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.navigation-wrap.container {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.navigation:hover {
  background-color: #000;
}

.navigation-item {
  padding: 0px 15px;
  opacity: 1;
  font-family: Museosans, sans-serif;
  color: #fffdfd;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navigation-item:hover {
  opacity: 0.65;
  color: #fff;
}

.navigation-item.w--current {
  color: #fff;
}

.navigation-item.switcher {
  display: block;
  padding-right: 0px;
  padding-left: 15px;
}

.logo-image {
  display: block;
}

.navigation-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: transparent;
}

.status-message {
  padding: 9px 30px;
  background-color: #202020;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.status-message.cc-error-message {
  background-color: #db4b68;
}

.text-field {
  margin-bottom: 18px;
  padding: 21px 20px;
  border: 1px solid #e4e4e4;
  border-radius: 0px;
  -webkit-transition: border-color 400ms ease;
  transition: border-color 400ms ease;
  font-size: 14px;
  line-height: 26px;
}

.text-field:hover {
  border-color: #e3e6eb;
}

.text-field:active {
  border-color: #43464d;
}

.text-field:focus {
  border-color: #43464d;
}

.text-field::-webkit-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field:-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field::-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field::placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.protected-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.protected-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 90px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.protected-heading {
  margin-bottom: 30px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  padding: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

._404-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1a1b1f;
}

._404-content-wrap {
  margin-bottom: 20px;
}

.section-heading {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 400;
}

.body {
  padding-right: 0px;
}

.slide-nav {
  display: block;
}

.icon {
  display: none;
}

.icon-2 {
  display: none;
}

.slider {
  height: 580px;
}

.slide-1 {
  background-image: url('../images/slider1.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-2 {
  background-image: url('../images/slider2.jpg');
  background-position: 50% 33%;
  background-size: cover;
}

.slide-3 {
  background-image: url('../images/slider3.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.div-block {
  position: absolute;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 580px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-3 {
  font-family: Museosans, sans-serif;
  color: #fff;
  font-size: 100px;
  line-height: 110px;
  font-weight: 700;
}

.button-2 {
  margin-top: 10px;
  padding: 10px 30px;
  border-radius: 26px;
  background-color: #fff;
  font-family: Museosans, sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 19px;
  font-weight: 700;
  text-transform: uppercase;
}

.button-2.button-black {
  background-color: #000;
  color: #fffdfd;
}

.button-2.button-white {
  color: #11437f;
  text-align: center;
}

.button-2.button-blue {
  background-color: #11437f;
  color: #fff;
}

.button-2.button-white-blue {
  color: #11437f;
}

.heading-4 {
  text-align: center;
}

.heading-4.section-heading {
  font-family: Museosans, sans-serif;
  font-size: 60px;
  line-height: 72px;
  font-weight: 900;
  text-transform: uppercase;
}

.heading-4.section-heading.white {
  color: #fff;
}

.heading-4.week-heading {
  margin-bottom: 0px;
  font-family: Museosans, sans-serif;
  font-size: 60px;
  line-height: 72px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
}

.heading-5 {
  font-family: Museosans, sans-serif;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.heading-5.sponsors {
  margin-top: 80px;
}

.paragraph {
  margin-top: 60px;
  font-family: Museosans, sans-serif;
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
  text-align: left;
}

.collection-item {
  padding-top: 10px;
  padding-bottom: 40px;
}

.video-label {
  display: block;
  overflow: hidden;
  height: 2.6em;
  margin-right: 0px;
  margin-left: 0px;
  font-family: Museosans, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 900;
}

.video-label.notranslate.speaker {
  min-height: 0em;
  color: #f9b85e;
  font-weight: 500;
}

.collection-list {
  display: block;
  margin-right: -10px;
  margin-left: -10px;
}

.video {
  margin-bottom: 0px;
}

.div-block-2 {
  min-height: 60px;
  margin-top: 10px;
}

.collection-list-wrapper-2 {
  margin-top: 100px;
}

.heading-6 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Museosans, sans-serif;
  font-size: 26px;
  line-height: 31px;
  font-weight: 900;
}

.paragraph-2 {
  min-height: 75px;
  margin-bottom: 20px;
  font-family: Museosans, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.collection-item-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  padding-bottom: 80px;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-3 {
  width: 48px;
  height: 12px;
  margin-bottom: 30px;
}

.link {
  margin-top: 0px;
  font-family: Museosans, sans-serif;
  color: #11437f;
  font-size: 18px;
  line-height: 22px;
  font-weight: 900;
  text-decoration: none;
}

.switcher {
  padding-left: 20px;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.heading-7 {
  margin-right: 10px;
  font-family: Museosans, sans-serif;
  color: #000;
  font-size: 56px;
  line-height: 70px;
  font-weight: 900;
}

.paragraph-3 {
  padding-top: 10px;
  font-family: Museosans, sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
}

.column-4 {
  padding-right: 20px;
  padding-left: 20px;
}

.text-block-3 {
  font-weight: 900;
  text-align: center;
}

.empty-state {
  background-color: transparent;
}

.empty-state-2 {
  background-color: transparent;
}

.text-block-4 {
  font-weight: 900;
  text-align: center;
}

.text-block-6 {
  display: inline-block;
  margin-left: 0px;
  font-weight: 900;
  text-transform: uppercase;
}

.text-block-8 {
  display: inline-block;
  margin-left: 4px;
  font-weight: 900;
}

.text-block-9 {
  display: inline-block;
  font-weight: 900;
}

.text-block-10 {
  display: inline;
}

.text-block-11 {
  display: inline;
}

.text-block-12 {
  display: inline;
  margin-left: 4px;
}

.column-8 {
  font-weight: 900;
  text-transform: uppercase;
}

.empty-state-3 {
  background-color: transparent;
}

.text-block-13 {
  display: inline;
  font-weight: 900;
}

.text-block-13.speakersecond {
  margin-left: 0px;
}

.heading-11 {
  display: inline;
  margin-bottom: 0px;
}

.div-block-7 {
  height: 100%;
  margin-left: 50%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-8 {
  margin-top: 50%;
  margin-left: 40px;
}

.heading-12 {
  margin-bottom: 0px;
  color: #fff;
  font-weight: 900;
  text-align: left;
}

.heading-13 {
  margin-top: 4px;
  color: #f9b85e;
  font-weight: 900;
}

.div-block-9 {
  width: 50%;
}

.link-block {
  width: 33px;
  height: 33px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-image: url('../images/youtube_1youtube.png');
  background-position: 50% 50%;
  background-size: 22px;
  background-repeat: no-repeat;
  text-decoration: none;
}

.link-block.twitter {
  background-image: url('../images/twitter_1twitter.png');
  background-position: 50% 50%;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.link-block.twitter.black {
  border-color: #000;
  background-image: url('../images/twitter-black_1twitter-black.png');
}

.link-block.linkedin {
  background-image: url('../images/linkedin-logo_1linkedin-logo.png');
  background-position: 50% 50%;
  background-size: 22px;
  background-repeat: no-repeat;
}

.link-block.linkedin.black {
  border-color: #000;
  background-image: url('../images/linkedin-logo-black_1linkedin-logo-black.png');
}

.link-block.website {
  background-image: url('../images/web1_1web(1).png');
  background-position: 50% 50%;
  background-size: 22px;
  background-repeat: no-repeat;
}

.link-block.website.black {
  border-color: #000;
  background-image: url('../images/web_1web.png');
}

.link-block.email {
  background-image: url('../images/email.png');
}

.heading-14 {
  margin-top: 6px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}

.list-item {
  opacity: 0.6;
  color: #fff;
  text-transform: none;
}

.text-block-14 {
  margin-top: 60px;
  opacity: 0.5;
  color: #fff;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
}

.link-2 {
  display: inline;
  color: #fff;
  text-decoration: none;
}

.link-2:hover {
  opacity: 0.66;
  color: #fff;
}

.empty-state-4 {
  background-color: transparent;
}

.empty-state-5 {
  background-color: transparent;
  text-align: center;
}

.collection-list-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  text-align: left;
}

.collection-list-wrapper-4 {
  display: block;
  margin-top: 20px;
  float: none;
}

.div-block-17 {
  margin-top: 60px;
  text-align: center;
}

.div-block-11 {
  display: block;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.link-white {
  color: #fff;
  text-decoration: none;
}

.link-white:hover {
  opacity: 0.65;
  color: #fff;
}

.link-white.switcher.switcher-footer {
  padding-left: 0px;
  text-transform: none;
}

.collection-list-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.empty-state-6 {
  background-color: transparent;
  text-align: center;
}

.text-block-16 {
  color: #fff;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-15 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #11437f;
  font-size: 26px;
  font-weight: 900;
  text-align: center;
}

.heading-15.black {
  color: #000;
}

.heading-15.left {
  text-align: left;
}

.paragraph-5 {
  margin-bottom: 0px;
  color: #fff;
  font-weight: 900;
  text-align: center;
}

.paragraph-5.black {
  color: #000;
}

.paragraph-5.left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: left;
}

.div-block-13 {
  min-height: 100px;
  margin-top: 10px;
  text-align: left;
}

.image {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.div-block-14 {
  position: relative;
  height: 193px;
}

.div-block-16 {
  text-align: center;
}

.collection-item-3 {
  margin-top: 120px;
  margin-bottom: 0px;
}

.columns-4 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

.heading-16 {
  margin-bottom: 40px;
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
}

.image-2 {
  border-radius: 50%;
}

.image-3 {
  border-radius: 50%;
}

.image-4 {
  border-radius: 50%;
}

.heading-19 {
  text-align: center;
}

.heading-19.left {
  margin-bottom: 60px;
  color: #fff;
  text-align: left;
}

.divider-ticket {
  width: 160px;
  height: 12px;
  margin-bottom: 10px;
  background-color: #38e2c8;
  color: #000;
  font-size: 180px;
}

.div-block-19 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 100px;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 30px;
  background-color: #f9b85e;
  box-shadow: 5px 5px 19px 0 #11437f;
  opacity: 1;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.div-block-19.flex {
  margin-top: 0px;
  margin-right: 20px;
  margin-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  box-shadow: 5px 5px 19px 0 #707070;
}

.mini-heading {
  margin-top: 0px;
  font-size: 26px;
  font-weight: 900;
}

.mini-paragraph {
  color: #707070;
  font-weight: 500;
}

.bold-text {
  font-weight: 500;
}

.div-block-mini {
  padding-right: 40px;
  padding-bottom: 20px;
}

.text-block-19 {
  margin-top: 60px;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
}

.div-block-22 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-23 {
  width: 57%;
  padding-right: 10px;
  padding-left: 10px;
}

.div-block-24 {
  width: 42%;
  padding-right: 10px;
  padding-left: 10px;
}

.sponsor-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: 200px;
  padding-bottom: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.text-block-20 {
  display: inline;
}

.text-block-21 {
  display: inline;
}

.speaker-trigger {
  position: absolute;
  width: 166px;
  height: 166px;
  border-radius: 50%;
  background-color: #11437f;
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.speaker-trigger:hover {
  opacity: 0.1;
}

.speaker-dropdown {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
}

.speaker-dropdown-list {
  width: 200%;
  margin-left: -50%;
  border-radius: 8px;
  -webkit-transition: opacity 350ms ease, -webkit-transform 350ms ease;
  transition: opacity 350ms ease, -webkit-transform 350ms ease;
  transition: transform 350ms ease, opacity 350ms ease;
  transition: transform 350ms ease, opacity 350ms ease, -webkit-transform 350ms ease;
}

.speaker-dropdown-list.w--open {
  padding: 20px 27px;
  background-color: #000;
  color: #fff;
}

.speaker-dropdown-list.agenda-dropdown {
  z-index: 10;
  width: 300px;
}

.speaker-dropdown-name {
  margin-top: 0px;
  font-weight: 900;
}

.speaker-dwopdown-bio a {
  color: #fff;
}

.agenda-heading {
  margin-top: 44px;
  margin-bottom: 44px;
  color: #f9b85e;
  font-size: 22px;
  line-height: 27px;
  font-weight: 900;
  text-transform: uppercase;
}

.agenda-heading.global {
  margin-top: 40px;
}

.talk-description-trigger {
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #f9b85e;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
}

.talk-description-arrow {
  display: inline;
  margin-left: 4px;
}

.text-block-22 {
  display: inline;
}

.talk-description {
  margin-bottom: 20px;
}

.talk-desscription-content {
  overflow: hidden;
}

.empty-state-7 {
  background-color: transparent;
}

.week-wrapper {
  position: relative;
  margin-top: 50px;
  padding-left: 160px;
}

.week-number-heading {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 700px;
  height: 140px;
  -webkit-transform: translate(-270px, 270px) rotate(270deg);
  -ms-transform: translate(-270px, 270px) rotate(270deg);
  transform: translate(-270px, 270px) rotate(270deg);
  color: #11437f;
  font-size: 120px;
  line-height: 144px;
  font-weight: 900;
  text-align: right;
  text-transform: uppercase;
}

.week-number-heading.current-week {
  color: #f9b85e;
}

.sponsor-dropdown-list {
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  overflow: hidden;
  width: 100%;
  padding: 20px 27px;
  border-radius: 8px;
  background-color: #000;
  -webkit-transition: opacity 350ms ease, -webkit-transform 350ms ease;
  transition: opacity 350ms ease, -webkit-transform 350ms ease;
  transition: opacity 350ms ease, transform 350ms ease;
  transition: opacity 350ms ease, transform 350ms ease, -webkit-transform 350ms ease;
}

.sponsor-heading {
  margin-top: 0px;
  color: #fff;
  font-weight: 900;
}

.link-4 {
  color: #f9b85e;
}

.link-4:hover {
  color: #fff;
}

.sponsor-description {
  color: #fff;
}

.div-block-26 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-block-23 {
  display: none;
}

.agenda-dropdown-trigger {
  padding: 0px;
}

.event-link {
  margin-top: 4px;
  margin-bottom: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 24px;
  background-image: url('../images/calendar.png');
  background-position: -2px 50%;
  background-size: 24px;
  background-repeat: no-repeat;
  -webkit-transition-property: -webkit-filter;
  transition-property: -webkit-filter;
  transition-property: filter;
  transition-property: filter, -webkit-filter;
  color: #f9b85e;
  text-decoration: none;
}

.event-link:hover {
  -webkit-filter: brightness(0%);
  filter: brightness(0%);
  color: #f9b85e;
}

.event-link.white:hover {
  -webkit-filter: brightness(1000%);
  filter: brightness(1000%);
}

.collection-item-5 {
  margin-bottom: 20px;
}

.columns-6 {
  margin-right: -10px;
  margin-left: -10px;
}

.collection-list-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -30px;
  margin-left: -30px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.columns-7 {
  margin-right: -10px;
  margin-left: -10px;
}

.columns-8 {
  margin-right: -10px;
  margin-left: -10px;
}

.columns-9 {
  margin-right: -20px;
  margin-left: -20px;
}

.text-block-24 {
  display: none;
}

.track-wrapper {
  margin-top: 100px;
  margin-right: 80px;
  margin-left: 80px;
}

.next-talk-wrapper {
  display: block;
}

.div-block-10 {
  margin-top: 10px;
  font-weight: 900;
  text-transform: uppercase;
}

.div-block-10-copy {
  font-weight: 900;
  text-transform: uppercase;
}

.heading-30 {
  display: inline;
  margin-bottom: 0px;
}

.next-talk-title {
  margin-bottom: 20px;
}

.text-block-26 {
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 31px;
  font-weight: 900;
}

.div-block-30 {
  margin-top: 80px;
}

.div-block-31 {
  margin-top: 100px;
}

.empty-state-8 {
  background-color: transparent;
}

.video-link {
  margin-top: 4px;
  margin-bottom: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 24px;
  background-image: url('../images/video-outline-orange.png');
  background-position: -2px 50%;
  background-size: 24px;
  background-repeat: no-repeat;
  -webkit-transition-property: -webkit-filter;
  transition-property: -webkit-filter;
  transition-property: filter;
  transition-property: filter, -webkit-filter;
  color: #f9b85e;
  text-decoration: none;
}

.video-link:hover {
  -webkit-filter: brightness(0%);
  filter: brightness(0%);
  color: #f9b85e;
}

.video-link.white:hover {
  -webkit-filter: brightness(1000%);
  filter: brightness(1000%);
}

.week-anchor {
  position: relative;
  top: -100px;
  height: 0px;
}

.hidden {
  display: none;
}

.div-block-32 {
  height: 70px;
}

@media screen and (max-width: 991px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .section.ocular {
    min-height: auto;
    padding-right: 0px;
    padding-left: 0px;
  }

  .section.about.top {
    padding-top: 100px;
  }

  .section.about.last {
    padding-top: 0px;
  }

  .section.videoshome {
    padding-bottom: 40px;
  }

  .styleguide-block {
    text-align: center;
  }

  .container.subscribe {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-position: -50px 0px;
  }

  .container.flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .heading-jumbo {
    font-size: 56px;
    line-height: 70px;
  }

  .logo-link.w--current {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .menu-icon {
    display: block;
  }

  .menu {
    position: static;
    margin-left: 30px;
  }

  .navigation-wrap {
    background-color: #fff;
  }

  .navigation-wrap.container {
    background-color: #000;
  }

  .navigation-wrap.container {
    background-color: #000;
  }

  .navigation {
    padding: 25px 30px;
  }

  .navigation-item {
    padding: 15px 30px;
    background-color: #000;
    -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    text-align: center;
  }

  .navigation-item:active {
    background-color: #eef0f3;
  }

  .navigation-item.switcher {
    padding-left: 0px;
  }

  .menu-button {
    padding: 0px;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .logo-image {
    padding-right: 15px;
  }

  .navigation-items {
    background-color: #000;
  }

  .navigation-items:hover {
    background-color: #000;
  }

  .collection-item {
    min-width: 50%;
  }

  .collection-list-wrapper-2 {
    text-align: left;
  }

  .paragraph-2 {
    min-height: 100px;
  }

  .div-block-7 {
    margin-left: 33%;
  }

  .div-block-8 {
    margin-left: 60px;
  }

  .collection-item-3 {
    min-width: 45%;
  }

  .div-block-19.flex {
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
  }

  .div-block-mini {
    padding-right: 0px;
  }

  .div-block-22 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-23 {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .div-block-24 {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .section.section-dark {
    padding-bottom: 100px;
  }

  .section.footer {
    margin-right: 0px;
    margin-left: 0px;
  }

  .section.ocular {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .section.section-orange {
    margin-right: 0px;
    margin-left: 0px;
  }

  .container {
    text-align: center;
  }

  .container.subscribe {
    background-position: -120% 0px;
  }

  .container.flex {
    padding-right: 0px;
    padding-left: 0px;
  }

  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }

  .rich-text {
    width: 90%;
    max-width: 470px;
    text-align: left;
  }

  .heading-jumbo {
    font-size: 50px;
    line-height: 64px;
  }

  .heading-jumbo-small {
    font-size: 30px;
    line-height: 52px;
  }

  .logo-link {
    padding-left: 0px;
  }

  .navigation {
    padding: 20px 30px;
  }

  .utility-page-wrap {
    padding: 15px;
  }

  ._404-wrap {
    padding: 30px;
  }

  .heading-4.section-heading {
    margin-bottom: 0px;
    font-size: 50px;
  }

  .heading-4.section-heading.white {
    margin-bottom: 0px;
  }

  .heading-4.week-heading {
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 50px;
  }

  .heading-5.sponsors {
    margin-bottom: 0px;
  }

  .paragraph-2 {
    min-height: 0px;
  }

  .collection-item-2 {
    padding-bottom: 40px;
    text-align: left;
  }

  .div-block-3 {
    display: none;
  }

  .heading-7 {
    text-align: left;
  }

  .paragraph-3 {
    text-align: left;
  }

  .column-4 {
    padding-bottom: 20px;
    text-align: left;
  }

  .column-8 {
    color: #f9b85e;
  }

  .div-block-7 {
    margin-left: 0%;
  }

  .div-block-8 {
    margin-top: 32%;
    margin-right: 20px;
    margin-left: 20px;
  }

  .heading-12 {
    text-align: center;
  }

  .heading-14 {
    display: none;
  }

  .column-9 {
    display: none;
  }

  .column-10 {
    display: block;
    text-align: left;
  }

  .bold-text-2 {
    font-size: 22px;
    line-height: 25px;
  }

  .speaker-dropdown-list.agenda-dropdown.w--open {
    margin-left: 0%;
  }

  .agenda-heading {
    display: none;
  }

  .collection-list-wrapper-8 {
    margin-top: 40px;
  }

  .week-wrapper {
    padding-left: 0px;
  }

  .week-number-heading {
    position: static;
    width: auto;
    height: auto;
    margin-bottom: 0px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    font-size: 50px;
    line-height: 72px;
    text-align: left;
  }

  .text-block-23 {
    display: inline;
  }

  .agenda-speaker-dropdown {
    position: static;
  }

  .collection-item-5 {
    text-align: left;
  }

  .column-15 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .columns-9 {
    margin-right: -10px;
    margin-left: -10px;
  }

  .text-block-24 {
    display: inline;
  }

  .text-block-25 {
    display: inline;
  }

  .div-block-27 {
    margin-bottom: 16px;
  }

  .track-wrapper {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 36px;
    line-height: 52px;
  }

  .section {
    margin-right: 0px;
    margin-left: 0px;
  }

  .section.section-dark {
    margin-right: 0px;
    margin-left: 0px;
  }

  .section.footer {
    margin-right: 0px;
    margin-left: 0px;
  }

  .section.ocular {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(22%, #fff), color-stop(50%, #fff), color-stop(0, #11437f), color-stop(51%, #11437f), color-stop(71%, #11437f));
    background-image: linear-gradient(180deg, #fff 22%, #fff 50%, #11437f 0, #11437f 51%, #11437f 71%);
  }

  .container.subscribe {
    background-position: 50% 50%;
  }

  .rich-text {
    width: 100%;
    max-width: none;
  }

  .heading-jumbo {
    font-size: 36px;
    line-height: 48px;
  }

  .menu {
    margin-left: 15px;
  }

  .navigation {
    padding-right: 30px;
    padding-left: 30px;
  }

  .navigation-item {
    text-align: right;
  }

  .navigation-item.switcher {
    padding-right: 30px;
    padding-left: 30px;
  }

  .menu-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .menu-button.w--open {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .navigation-items {
    padding-bottom: 10px;
    text-align: right;
  }

  .slider {
    height: 300px;
  }

  .div-block {
    height: 300px;
  }

  .heading-3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 35px;
    line-height: 50px;
  }

  .button-2 {
    margin-top: 0px;
  }

  .heading-4.section-heading {
    margin-bottom: 0px;
    font-size: 30px;
    line-height: 36px;
  }

  .heading-4.week-heading {
    font-size: 30px;
    line-height: 36px;
  }

  .heading-5 {
    font-size: 20px;
    line-height: 23px;
  }

  .paragraph {
    margin-top: 40px;
  }

  .heading-7 {
    font-size: 30px;
    line-height: 36px;
  }

  .heading-7.notranslate {
    font-size: 30px;
    line-height: 36px;
  }

  .paragraph-3 {
    font-size: 26px;
    line-height: 31px;
  }

  .text-block-14 {
    font-size: 9px;
  }

  .heading-16 {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 35px;
  }

  .mini-heading {
    line-height: 36px;
  }

  .speaker-dropdown-list {
    width: 180%;
    margin-left: -40%;
  }

  .speaker-dropdown-list.agenda-dropdown {
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    width: 270px;
  }

  .week-number-heading {
    font-size: 30px;
    line-height: 36px;
  }

  .text-block-23 {
    font-weight: 500;
  }
}

@font-face {
  font-family: 'Museosans';
  src: url('../fonts/MuseoSans_500-webfont.eot') format('embedded-opentype'), url('../fonts/MuseoSans_500-webfont.woff') format('woff'), url('../fonts/MuseoSans_500-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Museosans';
  src: url('../fonts/MuseoSans_700-webfont.eot') format('embedded-opentype'), url('../fonts/MuseoSans_700-webfont.woff') format('woff'), url('../fonts/MuseoSans_700-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Museosans';
  src: url('../fonts/MuseoSans_900-webfont.eot') format('embedded-opentype'), url('../fonts/MuseoSans_900-webfont.woff') format('woff'), url('../fonts/MuseoSans_900-webfont.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Material Design Icons';
  src: url('../fonts/materialdesignicons-webfont.eot') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}